.card {
  width: 460px;
  height: 300px;
  padding: 14px;
  border-radius: 15px;
  border: none;
  &-title {
    width: 360px;
    color: #020c31;
    font-family: Unbounded;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
}
.row {
  width: 1420px;
}
.about {
  &_title {
    margin-left: 30px;
    color: #020c31;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  & hr {
    margin-left: 20px;
    width: 90%;
  }
  &_card_icon {
    font-size: 80px;
    color: #1c4cf7;
    margin-bottom: 20px;
  }
}
.bg {
  position: relative;
  margin-top: 30px;
  width: 98%;
  margin-left: 15px;
  height: 600px;
  background-image: linear-gradient(
      270deg,
      rgba(46, 61, 91, 0.566) 70%,
      rgba(255, 255, 255, 0)
    ),
    url(../../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 16px;
  &_title {
    width: 558px;
    color: #fafafa;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-left: 500px;
  }
  &_text {
    max-width: 310px;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 260px;
    margin-top: -140px;
  }
  &btn {
    top: 76%;
    left: 48%;
  }
}
@media only screen and (max-width: 1439px) {
  .about {
    width: 135%;
  }
}
@media only screen and (max-width: 1000px) {
  .about {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .row {
    display: flex !important;
    flex-wrap: wrap;
  }
  .col {
    border: 2px solid gray;
    width: 40%;
    margin: 35px;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 412px) {
  .row {
    width: 90%;
  }
  .col {
    width: 95%;
    height: 400px;
    margin-left: 100px;
  }
  .card {
    margin: 0;
  }
  .card-title {
    font-size: 50px;
    min-width: 1000px !important;
  }
  .card-text {
    font-size: 30px;
    min-width: 1000px !important;
  }
}
